/* css file */

header {
    text-align: center;
    
    
}

body {
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);

}

.subtitle {
    text-align: center;

}

.box {
    border: dotted black 2px;
    width: 30%;
    margin-bottom: 20px;
}

.boxes { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 8px;
    
}

.boxes h2 { 
    text-align: center;
    border: solid  black 2px;
    position: relative;
    margin-top: -20px;

}

.boxes p {
    text-align: center;
}

.box pre {
    text-align: left;
}


footer {
    text-align: center;
}


