/* css file */

header {
    text-align: center;
    
    
}

body {
    text-align: center;

}

.subtitle {
    text-align: center;

}

.box {
    
}

.boxes { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(#e66465, #9198e5);
    border: dotted black;
    justify-content: center;
    
}

.boxes h2 { 
    text-align: center;

}

.boxes p {
    text-align: center;
}

.boxes pre {

}


footer {
    text-align: center;
}


